body {
  background-color: white;
}

.name {
  text-align: center;
  margin-top: 50px;
  margin-left:600px;
  color: #000;
}

.box {
  width: 180px;
  height: 180px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #000;
  background-color: #ffc0cb;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}